.profile-img1{
    width: 350px;
    height: 350px;
    position: relative;
    right: 70px;
    top: 90px;
    border-radius: 50%;
    align-self: flex-end;
    
}
.hero{

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
    /* align-items: center; */
    justify-content: space-between;
    /* border: 2px solid red; */
    position: relative;
    top: 90px;
}
.hero h2{
position: relative;
 bottom: 290px;
/* border: 2px solid green; */

max-width: 600px;
max-height: 300px;
font-size: 20px;
left: 40px;
}
#h3-hero{
    position: relative;
        bottom: 270px;
        /* border: 2px solid green; */
    
        max-width: 600px;
        max-height: 300px;
        font-size: 20px;
        left: 40px;
}
.links-to-connect{
    position: relative;
        bottom: 200px;
        /* border: 2px solid green; */
    
        max-width: 680px;
        max-height: 300px;
        font-size: 20px;
        left: 40px;
}
.links-to-connect h3 a{
color: white;
text-decoration: none;
}
.links-to-connect h3 a:hover{
    color: rgb(113, 113, 213);
}

@media(max-width: 768px){
    .hero .profile-img1{
        margin: 120px;
        width: 350px;
/* border: 2px solid red; */
    }
    .hero h2{
        margin-top: 350px;
        /* width: 90%; */
        font-size: 50px;
        /* border: 2px solid red; */
        /* align-self: center; */
        /* padding: 0px 40px; */
padding-left: 55px;
    }
    .hero #h3-hero{
    /* margin-top: 50px; */
    /* width: 200px; */
    height: 400px;
        font-size: 30px;
    /* border: 2px solid red; */
        align-self: center;
        line-height: 35px;
        padding-right: 45px;
        /* padding: 0px 40px; */
    }
    .links-to-connect{
        /* align-self: center; */
   font-size: 22px;
width: 60%;
line-height: 35px;
/* padding: 0px 40px; */
padding-left: 44px;
    }
}
