.contact{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 80px;
margin: 80px 170px;

}
.contact-title{
    position: relative;

}
.contact-title h2{
    padding: 0px 30px;
    font-size: 60px;
    
}

#Cont-detail-icon{
    width: 40px;
    height: 40px;

}
.contact-sect{
    display: flex;
    gap: 150px;

}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.contact-left h2{
    font-size: 30px;
    
}
.contact-left p{
    max-width: 550px;
    color: aquamarine;
    font-size: 20px;
    line-height: 35px;

}
.contact-details{
display: flex;
flex-direction: column;
gap: 30px;
color: blueviolet;
font-size: 20px;

}
.contact-detail-1{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    color: rgb(206, 201, 201);
    font-size: 22px;
    font-weight: 500;

}
.contact-right input{
    border: none;
    width: 500px;
    height: 55px;
    padding-left: 20px;
    border-radius: 3px;
    background: rgb(61, 59, 59);
    color: rgb(206, 198, 198);
    font-size: 20px;
    font-family: Outfit;
}
.contact-right input:hover{
transform: scale(1.05);
    transition: 0.4s;
}

.contact-right textarea{
    width: 450px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: rgb(61, 59, 59);
    color: rgb(206, 198, 198);
    font-size: 20px;
    font-family: Outfit;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: rgb(73, 81, 80);
    font-size: 22px;
    padding: 15px 40px;
    margin-bottom: 45px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
    .contact{
        gap: 50px;
margin: 50px 70px;
align-items: start;

    }
   .contact-title h2{
    padding: 0;
    font-size: 40px;

   }
   .contact-sect{
    flex-direction: column;

   }
   .contact-left h2{
    font-size: 54px;

   }
   .contact-left p{
    font-size: 20px;

   }
   .contact-details{
    gap: 20px;

   }
.contact-details #Cont-detail-icon{
    width: 25px;

}
.contact-right label{
    font-size: 20px;

}
.contact-right input{
    width: 100%;
    font-size: 20px;

}
.contact-right textarea{
    width: 96%;
    font-size: 20px;

}
.contact-submit{
    font-size: 15px;
    padding: 15px 40px;

}


}