.Contribution{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}
.mycontribution-title-1{
    position: relative;  
}
.mycontribution-title-1 h2{
    padding: 0px 30px; /* top-bottom - 0px and right-left-30px*/
    font-size: 40px;
    font-weight: 500;

}
.my-Contribution-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

}


#contr-img-1{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}
#contr-img-1:hover{
    transform: scale(1.10);
    border: 4px solid rgb(74, 178, 213);
    border-radius: 10px;
    transition: 0.3s;

}

.mycontri-showmore{
display: flex;
gap: 15px;
border-radius: 50px;
border: 2px solid white;
padding: 5px 22px;
font-size: 22px;
margin-bottom: 80px;
transition: 0.6s;
cursor: pointer;
}

.mycontri-showmore:hover{
    gap: 25px;
    transition: 0.6s;
}
#arrow-icon-1{
    width: 20px;
    height: 30px;
    background-color: white;
}

@media(max-width:768px){
    .Contribution{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;

    }
    .mycontribution-title-1 h2{
        padding: 0;
        font-size: 50px;

    }
    .my-Contribution-cont{
        grid-template-columns: 1fr 1fr;
        gap: 25px;

    }
 .contr-img-1{
width: 100%;
height: 100%;

}
}