.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}


.about-title{
position: relative;

}
.about-title h2{
    padding: 0 30px;
    font-size: 40px;
    font-weight: 600px;
}
.about-sections{
    display: flex;
    gap: 80px;

}

.about-right-content{
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.about-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;

}

.about-skill-cont{
display: flex;
flex-direction: column;
gap: 20px;

}

.skill-1{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
    
}
.skill-1 p{
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
  
}

.about-img-1{
    width: 300px;
    height: 350px;
}

.skill-1 hr{
 outline: none;
 border: none;
 width: 50%;
 height: 8px;
 border-radius: 50px;
   background: #add8e6; 
}

.about-Achievments{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.achievment-1{
    display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
transition: 0.5s;

}

/* .about-Achievments h2{
    font-size: 50px;
    font-weight: 500;
    background-color: #add8e6;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* #typewriter-effect{
    animation:
            typewriter 5s steps(50) 1s 1 normal both,
            blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkingCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
} */

.skill-1:hover{
transform: scale(1.05);
transition: 0.3s;
}

.achievment-1:hover{
    transform: scale(1.12);
    transition: 0.5s;
}

@media(max-width:768px)
{
    .about{
        gap: 70px;
        margin: 40px 60px;
        align-items: start;
        
    }
    .about-title h2{
font-size: 45px;
padding: 0;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left-content{
        display: none;
    }
    .about-info{
        font-size: 30px;
        line-height: 38px;

    }
    .skill-1{
        gap: 20px;
        align-items: center;

    }
    .skill-1 p{
        font-size: 20px;
    }
    .skill-1 hr{
        height: 5px;
    }
   .about-Achievments{
    justify-content: space-between;
    gap: 10px;
    margin-top: 45px;
   }
.achievment-1 h2{
    font-size: 20px;
    /* font-weight: 600; */
    /* align-items: center; */
}
.achievment-1 p{
    text-align: center;
    font-size: 20px;

}
}